@charset "UTF-8";

html, body{
	padding:0;
	margin:0;
	position:relative;
    background: url(../images/geometry2.png);
	background-repeat:repeat;
	color:#fff;
	letter-spacing:1px;
	font-family:Georgia, "Times New Roman", Times, serif;
}


#container{
	padding-top:20px;
	width:960px;
	margin:0 auto;
}
#center{
	width: 600px;
	margin: 20px auto;
	color: #9A9A9A;
	font-size: 18px;
	font-weight: 400;
}
#center_left{
	width: 100px;
	margin-left: 75px;
	display: inline-block;
}
#center_right{
	width: 300px;
	height: auto;
	margin-right: 50px;
	display: inline-block;
}
#center_right a{
	text-decoration: blink;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
	-webkit-box-shadow:  0px 2px 1px 5px rgba(242, 242, 242, 0.1);
	box-shadow:  0px 2px 1px 5px rgba(242, 242, 242, 0.1);
}

.zebra {
	border: 1px solid #555;
}

.zebra td {
	border-left: 1px solid #555;
	border-top: 1px solid #555;
	padding: 10px;
	text-align: left;
}

.zebra th, .zebra th:hover {
	border-left: 1px solid #555;
	border-bottom: 1px solid #828282;
	padding: 20px;
	background-color:#151515 !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#151515), to(#404040)) !important;
	background-image: -webkit-linear-gradient(top, #151515, #404040) !important;
	background-image:    -moz-linear-gradient(top, #151515, #404040) !important;
	background-image:     -ms-linear-gradient(top, #151515, #404040) !important;
	background-image:      -o-linear-gradient(top, #151515, #404040) !important;
	background-image:         linear-gradient(top, #151515, #404040) !important;
	color:#fff !important;
	font-weight:normal;
}

.zebra_1 tbody tr:nth-child(4n+3) {
	background: #000 !important;
	color:#fff;
}
.zebra_2 tbody tr:nth-child(5n+1){
	background: #000 !important;
	color:#fff;
}
.zebra tr:hover *{
	background: #eeeeee;
	color:#000;
}

.zebra tr {
	background:#404040;
	color:#fff;
}
.ticket_font{
	color: #5bc0de;
}
.ticket_title  td{
	border:none;
	text-align: center;
}
.choose_sort{
	float: right;
	margin-bottom: 10px;
	width: 200px;
}